.timers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
        text-align: center;
        width: 30%;
    }
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .poops,
    .needs, {
        width: 24%;
        text-align: center;
        max-height: 50vh;
    }
    .display {
        width:48%;
        margin-top:30px;
        text-align: center;
    }
}
